:root {
	--acs_green:#51DD9F;
	--acs_background:#23DD9F;
	--acs_grey:#969696;
	--acs_blue_text: #82A0FD;
	--acs_blue_background: #3D64E7;
	--acs_blue: #7F9FFD;
}
body {
  padding-bottom: 20px;
	font-family: Ubuntu, sans-serif;
}

select {
    color:black;
}

.phone {
	border: 40px solid #ddd;
    border-width: 55px 7px;
    border-radius: 40px;
    margin: 50px auto;
    overflow: hidden;
    transition: all 0.5s ease;
    width:374px;
}
td { padding: 5px; }
.navbar {
  margin-bottom: 20px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
	margin: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;

}

.submit {
	margin:15px;
	padding:10px;
	border-radius: 15px;
	background: #37DD9F;
	min-width:200px;
}
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
	.border:1px solid black;
  color: black;
  display: none;
  .padding: 100px 20px;
  height: 90vh;
}
.menu_details {
	color: black;
  display: none;
  .padding: 100px 20px;
  height: 100%;
  overflow:auto;
}

#daily_orders_div {
	height: 100%;
	overflow:auto;
}

.menu_details_active {
	color: black;
  display: block;
  .padding: 100px 20px;
  height: 100%;
}
.acs_main {
	position: relative;
	height:80%;
	width:100%;
/*	border: 1px solid blue;*/
	.padding: 10vw;
    .spacing: 10vw;
    border-radius: 15px 15px;
}

#users tr:first-of-type, #settings tr:first-of-type {
	background-image: linear-gradient(to right, #9D2CE3,#9323E4,#7A0FE7);
	background-attachment:fixed;
	color: white;
	/* border-radius: 10px 10px 0 0; */
	border-style: none;
}

#user_table {
	border-style: none;
}

#ul1 {
	margin-bottom: 15px;
}

#add {
    border: none;
    background: none;
    color:white;
    font-size: 20pt;
    padding:0;
}

#report_start, #report_end, #report_search{
	border-radius: 10px;
	border: 1px solid lightgrey;

}

#report_start, #report_end {
	text-align: center;
}

#report_search{
	padding-left: 10px;
	margin-left: 30px;
}
.menu_description {
	border-radius: 10px;
	border: 1px solid lightgrey;
}

#report_start::placeholder, #report_end::placeholder, #report_search::placeholder{
	padding:5px;
}

#go {
	width: 50px;
	padding:0;
	border-radius:10px;
}

.icon  {
    height:15px;
}

.add_user {
	color:black;
}

table input[type=text] {
	border-radius: 10px;
	border: 1px solid lightgrey;
	padding:10px;
}

#user_id input[type=text]::placeholder {
	font-size: 8pt;
}

.user_subtitle {
	text-transform: uppercase;
	color: #8f8f8f;
	font-weight: bold;
}

.acs_container {
	.padding: 10px;
	border-radius: 15px 15px;
}
.m-10 {
	margin:10px;
}

.acs_sidebar {
position: relative;
	height:100%;
	width:25%;
	.border: 1px solid blue;
	padding: 15px;
    border-radius: 15px 0 0 15px;
    background: #648AFB;
}
.acs_right_content {
	position: absolute;
	top:0;
	left:25%;
	width:75%;
	height:100%;
	.border: 1px solid blue;
	padding: 15px;
    spacing: 15px;
    background: white;
    border-radius: 0 15px 15px 0;
    overflow: auto;
}
	
.drop-files-container {
	width:400px;
	height:200px;
	background:#5375DA;
	border-radius: 15px 15px;
	border: 2px solid black;
}
.acs_menu_btn, .acs_comp_btn, .acs_item_btn{
	width:90%;
	padding: 15px;
    spacing: 15px;
	background:#5375DA;
	border-radius: 15px 15px;
	margin:5%;
	border:none;
	color:white;
}

.acs_menu_space, .acs_comp_space, .acs_space {
	width:90%;
	padding: 15px;
    spacing: 15px;
	.background:#5375DA;
	.border-radius: 15px 15px;
	.color: #648AFB;
	margin:5%;
	color:white;
	font-size:larger;
	border:none;
}

.rightdiv {
background-color: #EEEEEE;
}
#add_new_menu {
	background:#37DD9F
}
.comp_details {
	overflow: auto;
}
.acs_modal, #add_menu_component_modal, #comp_action_modal_M2 {
	position:absolute;
	left: 10vw;
	top: 10vh;
	width:70%;
	padding: 10px;
    spacing: 10px;
    display: none;
    border: 2px solid red;
	background: #648AFB;
    border-radius: 15px;
    zindex:1000;
}
#del_menu_component_modal {
	position:absolute;
	left: 10vw;
	top: 10vh;
	width:70%;
	padding: 10px;
    spacing: 10px;
    display: none;
    border: 2px solid red;
	background: #648AFB;
    border-radius: 15px;
    zindex:1000;
}
.acs_btn {
	border-radius: 15px;
	background:white;
	padding: 5px;
    spacing: 5px;
}
.menu_item_row {
	background: linear-gradient(to right, #93b3fc, #769ffb);
    color:white;
}
.close_modal {
	position:absolute;
	padding: 0 5px;
    top: 4px;
    right: 4px;
	border: 2px solid red;
	
    border-radius: 10px;
	
}
.component_table {
	width:100%;
	font-size:10px;
}
.component_table th {
	font-size:12px;
	color:white;
    padding-left: 10px;
}
.component_table tr:first-of-type {
    background-image: linear-gradient(to right, #9D2CE3, #9323E4, #7A0FE7);
	color:white;
}
.component_table td {
    border-bottom: 1px solid lightgrey;
}

.component_table tr:hover, #settings tr:hover {
	background-color:lightgrey;
}
#reports th {
    background: #7A0FE7;
}

#reports_frame {
	border:1px solid lightgrey;
}

.reports_message {
	padding: 10px;
}

#submit_menu {
	width: 150px;
	margin-top: 40px;
	font-size: larger;
}

.menu_table th
{
	padding:2px;
}

.menu_table td
{
	border-bottom: 1px solid lightgrey;
}

.menu_table tr:first-of-type {
	background-image: linear-gradient(to right, #9D2CE3, #9323E4, #7A0FE7);
	color:white;
}
.btns {
	display: flex;
}
.btn {
	border-radius: 15px;
    border: 1px grey solid;
	padding:5px 10px;
	margin:2px 10px;
}
.datepicker {
	width: 120px;
}

.navbar  {
	background-color: #0056BA;
}

.navbar-default .navbar-nav>li>a {
	color:#b0cdfc;
}

.navbar a:hover, .navbar-default .navbar-nav>li>a:hover {
	border-bottom: 3px solid white;
	color:white;
	cursor: pointer;
}

.navbar a {
	border-bottom: 3px solid transparent;
}

.navbar-default .navbar-toggle {
	background-color: #ddd;
}
.popup {
	position:absolute;
	top:10px;
	.width:80%;
	border:1px solid black;
	border-radius: 15px;
	zindex:1000;
	display:none;
	background:white;
	padding:20px;
}
btns {
	bottom:5px;
	width:100%;
	position:absolute;
	left:0;
	display:table;
	margin:0 auto;
	.background: #eeeeee;
	border-radius: 15px;
	
}
.button_main, .button_minor {
	color: white;
	border-radius: 15px;
    background: #18e0af;
    position:relative;
    border:2px #18e0af solid;
    padding: 5px;
    width: 80%;
    margin:5px;
    font-family: "Ubuntu", sans-serif;
}

.button_minor {
    background: white;
    color: #18e0af;
}
.center {
	display:table;
	margin:0 auto;
}
#add_sub_popup {
	position:absolute;
	top:10px;
	.width:80%;
	border:1px solid black;
	border-radius: 15px;
	zindex:1000;
	display:none;
	background:white;
	padding:20px;
}
.add_subcompdiv, ingredient{
	font-size:70%;
	border:1px solid black;
	text-align:center;
	border-radius: 5px;
}
.top_menu_container {
	.position:absolute;
	.top:0;
	.left:8vw;
	margin-left:2vw;
	display:inline-block;
	.color:white;
	.font-size:x-small;
	
	width:84vw;
	
}

.top_menu {
	cursor: pointer;
}
.top_menu, .top_menu_highlighted {
	margin:15px;
	.width:30vw;
	color:black;
	font-size:larger;
	border:1px solid white;
	display: inline-block;
}

.top_menu_highlighted {
	border-bottom-color:black;
}

#report_container {
	height:100%;
	overflow:auto;
}

.acs_table th {
	background:#eeeeee;
	width:8%;
	padding:5px;
}

.blue {
	background:var(--acs_blue_background);
}